.footer {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-logo {
  height: 60px;
  margin-right: 20px;
}

.footer-text {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  align-self: center;
}
